h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 42px;
  padding: 0.4em 1em;
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.enterText{
  position: absolute;
}

.enterText span{
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 1.4s;
}

.enterText:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #00f0b5;
  animation: enterText 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}

@keyframes enterText {
  0% {
    left: 0;
    width: 0%;
}
  50% {
    left: 0%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
opacity: 1;
}
}
#click{
  top: 47%;
  left: 50%;
}
#click span{
  animation-delay: 2s;
}

#click.enterText:after{
  background: #5e239d;
  animation-delay: 1.4s;
}
